<div class="body-content">
  <div class="container-fluid">
    <div class="row">
      <div class="main-content">
        <h2 class="h2">フォロー一覧</h2><br>
			<% @user.followings.each do |user| %>
			<div class="item-review-box">
				<table>
				<tr>
  				<td class="col-sm-2 breakall"><%= user.name %></td>
  				<td class="col-sm-2 breakall"><%= user.favorite %>好きです!</td>
  				<td class="col-sm-2"><b><%= link_to 'このユーザーを見に行く', user_path(user) %><b></td>
				</tr>
				</table>
				<% end %>
			</div>
	  </div>
	</div>
  </div>
</div>