<div class="body-content">
  <div class="body-box-about">
  <h2 class="h2-box">当サイトについて</h2>

    <p class="site-text">
      当サイトは新商品についてのレビューを共有する場です。
    </p>

  <div class="main-bottom">

        <%= link_to "トップページに戻る", root_path, class: "btn btn-default btn-sm" %>

  </div>


  </div>
</div>