// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item-box-index{
	float:left;
	padding-top: 20px;
}
.nakami-box{
	width:400px;
	height:200px;
}
.naka{
	word-break : break-all;
}
.star-rating {
	position: relative;
	width: 5em;
	font-size: 35px;
}
  .star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: yellow;
  }
  .star-rating-back {
	color: #ccc;
  }
 .item-box-show{
 	font-size:30px;
 }
 .item-review-box{
 	font-size:20px;
 }
 .border{
 border-bottom: solid 2px #87CEFA;
 }
 .item-top-new{
 widht:1000px;
 font-size: 16px;
 padding: 0.5em 1em;
 margin: 2em 0;
 border: double 5px #4ec4d3;
 }
 .top-text{
 font-size:30px;
 color:orange;
 }
 .iine{
 color:#9999FF;
  font-size:18px;
 }
 .star-rating-top {
	position: relative;
	width: 5em;
	font-size: 45px;
}
  .star-rating-front-top {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #9900FF;
  }
  .review-index{
 font-size: 16px;
  }
   .star-rating-show {
	position: relative;
	width: 5em;
	font-size: 20px;
}
  .star-rating-front-show {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #9900FF;
  }